.outline {
    border: 1px solid black;
    margin: 1px;
}
td.checkboxlabel {
    font-weight: bold;
}
input.datefield {
    width: 200px;
}
input.axisname {
    width: 75px;
}
td.axisrangeselect {
    text-align: right;
}
svg.chart {
    font-size: 16px;
    font-family: serif;
}
.unclickedchart {
    cursor: url(../img/openhand.cur), move;
}
.clickedchart {
    cursor: url(../img/closedhand.cur), move;
}
rect.clickscreen {
    pointer-events: visibleFill;
}
.jstree-contextmenu {
    z-index: 99999; /* So the context menu isn't hidden. */
}
.jstree-node {
    position: relative;
    z-index: 49999; /* So the tree isn't covered by something accidentally. */
}
.streamTree a {
    background-color: white; /* So the entries remain readable if they go over something */
}
div.permalink {
    word-wrap: break-word;
}
/*
.legend td, .axes td, .axisLegend th {
    padding: 2px;
}
tr.axissetting > td {
    padding-top: 1.5em;
}
(no longer needed due to bootstrap's striped format) */
.legend td {
    padding: 2px;
}
.streamName {
    cursor: pointer;
}
.metadataDisplay > h3 {
    margin-top: 0px;
}
input.thin-margin-text {
    padding-left: 5px;
    padding-right: 5px;
}
table.dispTable > tr > td, tbody.axes > tr > td {
    vertical-align: top;
}
.axissettingtable > tr, .axissettingtable > tr > td {
    text-align: center;
}
.axissettingtable > tr > div, .axissettingtable > tr > td {
    width: 100%;
}
.axissettingtable {
    table-layout: fixed;
}
